/* Start global rules */
html {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  color: #4e4e4e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1e1e1e;
}
ul{
    list-style: none;
}

a {
  color: #1e1e1e;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

a:hover {
  color: #0078ff;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.p-r {
  position: relative;
}

.color-a {
  text-decoration: none;
  color: #0078ff;
}

.color-d {
  color: #f5f5f5;
}

.color-text-a {
  text-decoration: none;
  color: #4e4e4e;
}

.box-shadow,
.card-blog,
.work-box,
.service-box,
.paralax-mf {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.box-shadow-a,
.button:hover {
  text-decoration: none;
  box-shadow: 0 0 0 4px #cde1f8;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.display-6 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
}

.avatar {
  width: 32px;
  height: 32px;
  margin-right: 4px;
  overflow: hidden;
}

.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 1024px) {
  .bg-image {
    background-attachment: scroll;
  }
}

.overlay-mf {
  background-color: #0078ff;
}

.overlay-mf {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

.paralax-mf {
  position: relative;
  padding: 8rem 0;
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

/*--/ Sections /--*/
.sect-4 {
  padding: 4rem 0;
}

.sect-pt4 {
  padding-top: 4rem;
}

.sect-mt4 {
  margin-top: 4rem;
}

/*--/ Title s /--*/
.title-s {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1.1rem;
}

/*--/ Title A /--*/
.title-box {
  margin-bottom: 4rem;
}

.title-a {
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.subtitle-a {
  text-decoration: none;
  color: #4e4e4e;
}

.line-mf {
  width: 40px;
  height: 5px;
  background-color: #0078ff;
  margin: 0 auto;
}

/*--/ Title Left /--*/
.title-box-2 {
  margin-bottom: 3rem;
}

.title-left {
  font-size: 2rem;
  position: relative;
}

.title-left:before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #0078ff;
  width: 100px;
  bottom: -12px;
}

/*------/ Box /------*/
.box-pl2 {
  padding-left: 2rem;
}

.box-shadow-full {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .box-shadow-full {
    padding: 3rem;
  }
}

/*------/ Socials /------*/
.socials {
  padding: 1.5rem 0;
}

.socials ul li {
  display: inline-block;
}

.socials .ico-circle {
  height: 40px;
  width: 40px;
  font-size: 1.2rem;
  border-radius: 50%;
  line-height: 1.6;
  margin: 0 15px 0 0;
  box-shadow: 0 0 0 3px #0078ff;
  transition: all 500ms ease;
}

.socials .ico-circle:hover {
  background-color: #0078ff;
  color: #fff;
  box-shadow: 0 0 0 3px #cde1f8;
  transition: all 500ms ease;
}

/*------/ Ul resect /------*/
.ul-resect,
.widget-tags ul,
.widget-sidebar .list-sidebar,
.box-comments .list-comments,
.blog-wrapper .post-meta ul,
.list-ico,
.socials ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.list-ico {
  line-height: 2;
}

.list-ico span {
  color: #0078ff;
  margin-right: 10px;
}

/*------/ Ico Circle /------*/
.ico-circle {
  height: 100px;
  width: 100px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1.55;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 0 10px #0078ff;
  display: block;
}

/*------/ Owl Carousel /------*/
.owl-theme .owl-dots {
  text-align: center;
  margin-top: 18px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
}

.owl-theme .owl-dots .owl-dot span {
  width: 18px;
  height: 7px;
  margin: 5px 5px;
  background: #cde1f8;
  border: 0px solid #cde1f8;
  display: block;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}

.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #cde1f8;
}

.owl-theme .owl-dots .owl-dot.active span {
  background-color: #1B1B1B;
  width: 25px;
}

/*--/ Scrolltop s /--*/
.scrolltop-mf {
  position: relative;
  display: none;
}

.scrolltop-mf span {
  z-index: 999;
  position: fixed;
  width: 42px;
  height: 42px;
  background-color: #0078ff;
  opacity: 0.7;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  top: auto;
  left: auto;
  right: 30px;
  bottom: 50px;
  cursor: pointer;
  border-radius: 50%;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0078ff;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #298eff;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*------/ Prelaoder /------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #0078ff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*------/ Button /------*/
.button {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  transition: all 500ms ease;
  cursor: pointer;
}

.button:focus {
  outline: 0;
}

.button:hover {
  background-color: #0062d3;
  color: #fff;
  transition: all 500ms ease;
}

.button-a {
  text-decoration: none;
  background-color: #0078ff;
  color: #fff;
  border-color: #cde1f8;
}

.button-big {
  padding: 0.9rem 2.3rem;
  font-size: 1.2rem;
}

.button-rouded {
  border-radius: 5rem;
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}
/* End global rules */

/* start header */

.header {
    top: 0;
    left: 0;
    padding: 10px 0;
    z-index:100;
    background-color:rgba(0, 0, 0, 0.753);
    transition: 0.3s ;
}
.sticky {
    background-color : rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 10px rgba(0, 0, 0, .2);
}

.navbar-nav ul {
  display: flex;
  align-items: center;
}
.navbar-nav li {
  position: relative;
}

.navbar-nav>ul>li {
  white-space: nowrap;
  padding: 10px 0 10px 30px;
}

.navbar-nav a,
.navbar-nav a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 0;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0.4px;
  position: relative;
  text-transform: uppercase;
}

.navbar-nav a i,
.navbar-nav a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar-nav>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  width: 0;
  background-color: #ffffff;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-nav a:hover:before,
.navbar-nav li:hover>a:before,
.navbar-nav .active:before {
  visibility: visible;
  width: 80%;
}

.navbar-nav a:hover,
.navbar-nav .active,
.navbar-nav .active:focus,
.navbar-nav li:hover>a {
  color: #fff;
}


.navbar-nav .dropdown i {
  font-size: 16px;
}
.navbar-nav .dropdown ul {
  display: block;
  position: absolute;
  left:0;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  width: 200px;
  height: auto;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar-nav .dropdown ul li {
  min-width: 200px;
}

.navbar-nav .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
  text-decoration: none;
  color: #4e4e4e;
}

.navbar-nav .dropdown ul a:hover,
.navbar-nav .dropdown ul .active:hover,
.navbar-nav .dropdown ul li:hover>a {
  color: #0078ff;
}

.navbar-nav .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  left: 0;
  visibility: visible;
}

.navbar-nav .dropdown .dropdown-2 ul {
  top: 20px;
  left: 0;
  visibility: hidden;
}

.navbar-nav .dropdown .dropdown-2:hover>ul {
  opacity: 1;
  top: 20px;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar-nav .dropdown .dropdown-2 ul {
    left: -90%;
  }

  .navbar-nav .dropdown .dropdown-2:hover>ul {
    left: -100%;
  }
}

/* Mobile Navigation  */

.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar-nav ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(78, 78, 78, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #686868;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #4e4e4e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #0078ff;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #0078ff;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/* End  header */

/* start landing */
.landing {
  position: relative;
  min-height:100vh;
  background-image: url('../images/hero-bg.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.landing::before {
  content: "";
  position:absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.404);
  z-index: 1;
}
.landing .container {
  position: relative;
  min-height: 100vh;
  z-index: 10;
}
.landing .container h1 {
  font-size: 60px;
}
.landing .container h3 {
  font-size: 40px;
}
/* End landing */
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-mf .box-shadow-full {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.about-mf .about-img {
  margin-bottom: 2rem;
}

.about-mf .about-img img {
  margin-left: 10px;
}

@media (min-width: 767px) {
  .about-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }
}

.skill-mf span {
  color: #4e4e4e;
}

.skill-mf .progress {
  background-color: #cde1f8;
  margin: 0.5rem 0 1.2rem 0;
  border-radius: 0;
  height: 0.7rem;
}

.skill-mf .progress .progress-bar {
  height: 0.7rem;
  background-color: #0078ff;
}
/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.service-box {
  background-color: #fff;
  padding: 2.5rem 1.3rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}

.service-box:hover .ico-circle {
  transition: all 500ms ease;
  color: #fff;
  background-color: #0078ff;
  box-shadow: 0 0 0 10px #cde1f8;
}

.service-box .service-ico {
  margin-bottom: 1rem;
  color: #1e1e1e;
}

.service-box .ico-circle {
  transition: all 500ms ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.service-box .ico-circle i {
  line-height: 0;
  font-size: 40px;
}

.service-box .s-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0.4rem 0;
}

.service-box .s-description {
  color: #4e4e4e;
}

/*--------------------------------------------------------------
# Counter
--------------------------------------------------------------*/
.counter-box {
  color: #fff;
  text-align: center;
}

@media (min-width: 577px) {
  .counter-box {
    margin-bottom: 1.8rem;
  }
}

.counter-ico {
  margin-bottom: 1rem;
}

.counter-ico .ico-circle {
  height: 60px;
  width: 60px;
  line-height: 1.5;
  box-shadow: 0 0 0 10px #cde1f8;
}

.counter-num .counter {
  font-size: 2rem;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.work-box {
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
}

.work-box:hover img {
  transform: scale(1.3);
}

.work-img {
  display: block;
  overflow: hidden;
}

.work-img img {
  transition: all 1s;
}

.work-content {
  padding: 2rem 3% 1rem 4%;
}

.work-content .w-more {
  color: #4e4e4e;
  font-size: 0.8rem;
}

.work-content .w-more .w-ctegory {
  color: #0078ff;
}

.work-content .w-like {
  font-size: 2.5rem;
  color: #0078ff;
  float: right;
}

.work-content .w-like a {
  color: #0078ff;
}

.work-content .w-like .num-like {
  font-size: 0.7rem;
}

.w-title {
  font-size: 1.2rem;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #0078ff;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0078ff;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(78, 78, 78, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/

    .testimonial-container {
      height: 70vh;
    }
    .testimonial-container .filter {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(47, 113, 255, 0.7);
      z-index: 1;
    }
    .testimonial-wrapper  {
      z-index: 2;
      position: relative;
    }
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #ffffff00;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .swiper-pagination-bullet-active {
      background: #1B1B1B;
    }
    .comment-text {
      padding: 20px 200px;
    }
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.footer-paralax {
  padding: 4rem 0 0 0;
}

.contact-mf {
  margin-top: 4rem;
}

@media (min-width: 767px) {
  .contact-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }
}

.email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.email-form input,
.email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.email-form input:focus,
.email-form textarea:focus {
  border-color: #0078ff;
}

.email-form input {
  padding: 10px 15px;
}

.email-form textarea {
  padding: 12px 15px;
  margin-bottom: 0;
}

.email-form button[type=submit] {
  background: #0078ff;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

.email-form button[type=submit]:hover {
  background: #3393ff;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
@media (min-width: 767px) {
  .card-blog {
    margin-bottom: 3rem;
  }
}

.card-blog .card-body {
  position: relative;
}

.card-blog .card-category-box {
  position: absolute;
  text-align: center;
  top: -16px;
  left: 15px;
  right: 15px;
  line-height: 25px;
  overflow: hidden;
}

.card-blog .card-category {
  display: inline-block;
  color: #fff;
  padding: 0 15px 5px;
  overflow: hidden;
  background-color: #0078ff;
  border-radius: 4px;
}

.card-blog .card-category .category {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.1px;
  margin-bottom: 0;
}

.card-blog .card-title {
  font-size: 1.3rem;
  margin-top: 0.6rem;
}

.card-blog .card-description {
  color: #4e4e4e;
}

.card-blog .post-author {
  display: inline-block;
}

.card-blog .post-date {
  color: #4e4e4e;
  display: inline-block;
  /* float: right; */
}

/*--------------------------------------------------------------
# Blog Single
--------------------------------------------------------------*/
.post-box,
.form-comments,
.box-comments,
.widget-sidebar {
  padding: 2rem;
  background-color: #fff;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {

  .post-box,
  .form-comments,
  .box-comments,
  .widget-sidebar {
    padding: 3rem;
  }
}

.blog-wrapper .article-title {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .blog-wrapper .article-title {
    font-size: 1.9rem;
  }
}

.blog-wrapper .post-meta {
  margin: 1rem 0;
}

.blog-wrapper .post-meta ul {
  border-left: 4px solid #0078ff;
  margin-top: 1rem;
}

.blog-wrapper .post-meta ul li {
  display: inline-block;
  margin-left: 15px;
}

.blog-wrapper .post-meta ul a {
  color: #0078ff;
}

.blog-wrapper .post-meta ul span {
  color: #1e1e1e;
}

.blog-wrapper .blockquote {
  border-left: 4px solid #0078ff;
  padding: 18px;
  font-style: italic;
}

/*------/ Comments /------*/
.box-comments .list-comments li {
  padding-bottom: 40px;
}

.box-comments .list-comments .comment-avatar {
  display: table-cell;
  vertical-align: top;
}

.box-comments .list-comments .comment-avatar img {
  width: 80px;
  height: 80px;
}

.box-comments .list-comments .comment-author {
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  .box-comments .list-comments .comment-author {
    font-size: 1.5rem;
  }
}

.box-comments .list-comments .comment-details {
  display: table-cell;
  vertical-align: top;
  padding-left: 25px;
}

.box-comments .list-comments a {
  color: #0078ff;
}

.box-comments .list-comments span {
  color: #1e1e1e;
  font-style: italic;
}

.box-comments .comment-children {
  margin-left: 40px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  text-align: center;
  color: #fff;
  padding: 25px 0;
  background: #0062d3;
}

footer .copyright {
  margin-bottom: 0.3rem;
}

footer .credits {
  margin-bottom: 0;
}

footer .credits a {
  color: #fff;
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* start articles */
.about {
  padding-top: var(--main-padding-top) ;
  padding-bottom: var(--main-padding-bottom);
  background-color: white;
}
.about .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px,1fr));
  gap: 30px;
}
.about .box {
  position: relative;
  border-radius: 5px;
  display: flex ;
  flex-direction: column;
  justify-content: space-between;
}
.about .box .border {
  position: absolute;
  width: 50%;
  height: 100% ;
  border: #1f1f1f 10px solid;
  border-radius:10px;
  top:-20px;
  right: 100px;
  z-index: 2;
}
.about .box .image {
  position: relative;
  height: 100%;
  width: 50%;
  align-self: flex-end;
  margin-right: 80px;
  overflow: hidden;
}
.about .box img {
  position: absolute;
  background-color: #1f1f1f48;
  border-radius:10px;
  width: 100%;
  height: 100% ;
  z-index: 2;
}
.about .box .filter{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #0000006e;
  border-radius:10px;
  width: 100%;
  height: 100% ;
  bottom:0;
  right: 0;
  transform: translateY(100%);
  transition: 0.5s;
  z-index: 3;
}
.about .box .image:hover .filter {
  transform: translateY(0%);
}
.about .box .icons {
  color: #ffffff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100% ;
}
.about .box .icons i {
  margin-right: 20px;
  transition: 0.3s;
}
.about .box .icons i:hover {
  color: var(--main-color);
}
.about .box .desc-box{
 border-bottom: #1f1f1f 2px dashed;
}
.about .box .desc-box h3 {
 font-size: 40px;
 font-weight: 600;
 margin-top: 0;
}
.about .box .desc-box span {
 color: var(--main-color);
}
.about .box .info-box .info {
 display: flex;
 justify-content: space-between;
}
.about .box .info-box .info .text{
 color: #777777;
}
.about .box .info-box .btns {
 display: flex;
}
.about .box .info-box .btns .btn {
  color: white;
  font-weight: bold;
  background-color: var(--main-color);
  border: none;
  padding:10px 20px;
  border-radius: 10px;
  margin-right: 20px;
  transition: 0.3s;
}
.about .box .info-box .btn:hover {
  background-color: var(--main-color-alt);
}
/* End articles */

 /* start services */
.services {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
  gap: 30px;
}
.services .container .box {
  background-color: var(--section-background);
  padding: 20px;
  text-align: center;
  transition: var(--main-transition);
  position: relative;
  counter-increment: services;
}
.services .container .box::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.services .container .box:hover::before {
  width: 100%;
}
.services .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 15px #b5b5b5;
  background-color: white;
}
.services .box i {
  margin-top: 30px;
  color: #cdcdcd;
  transition: var(--main-transition);
}
.services .box:hover i {
  color:var(--main-color);
}
.services .box h3 {
  margin-bottom: 40px;
  font-size: 26px;
  font-weight: bold;
  color: var(--main-color);
}
.services .box .info {
  position: relative;
  display: flex;
  justify-content: flex-end;
  background-color: #f9f8f8;
  padding: 15px;
  overflow: hidden;
}
.services .box .info::before {
  content: "0" counter(services);
  position: absolute;
  width: 140px;
  height: 48.5px;
  top: 0;
  left: -30px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}
.services .box .info::after {
  content: "";
  position: absolute;
  width: 130px;
  height: 40px;
  top: 0;
  left: 40px;
  transform: rotate(124deg);
  background-color: #cdcdcd;

}
.services .box .info a {
  color: var(--main-color)
}
 /* End services */

/* start PORTFOLIO */
.portFolio {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: white;
}
.portFolio .category {
  padding-left: 110px;
  padding-right: 100px;
  margin: 30px 0;
}
.portFolio .category a {
  font-size:23px;
  font-weight: 400;
  margin-right: 20px;
  color: #3d3d3d;
  text-transform: uppercase;
}
.portFolio .category a:hover {
  color:#0043fc;
}
.portFolio .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
  gap: 30px;
}
.portFolio .box {
  position: relative;
  background-color: white;
  padding: 5px;
  -webkit-box-shadow: 0 0 10px #a5a5a5;
  -moz-box-shadow: 0 0 10px #a5a5a5;
  box-shadow: 0 12px 20px 0 rgb( 0 0 0 / 13%), 0 2px 4px 0 rgb( 0 0 0 / 12%);
}
.portFolio .box .image {
  position: relative;
}
.portFolio .box .image::before {
  content: "";
  position: absolute;
  background-color: #0000003f;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 5;
  transition: var(--main-transition);
}
.portFolio .box .image:hover::before {
  opacity: 1;
}

.portFolio .box img {
  width: 100%;
  max-width: 100%;
}
.portFolio .box a {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #0043fc;
  opacity: 0;
  transition: var(--main-transition);
} 
.portFolio .box:hover a {
  opacity: 1;
}
/* End PORTFOLIO */
/* start stats */
.stats {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px ,1fr));
  gap: 20px;
}
.stats .box {
  background-color: white;
  text-align: center;
  position: relative;
  transition: 0.7s;
}
.stats .box::before,
.stats .box::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 0;
  background-color: var(--main-color);
  transition: 0.7s;
}
.stats .box:hover::before,
.stats .box:hover::after {
  height: 100%;
}
.stats .box::before {
  bottom: 0;
  left: 0;

}
.stats .box::after {
  top: 0;
  right: 0;
}
.stats .box i {
  margin-top: 10px;
  color: rgb(51, 51, 51)
}
.stats .box:hover h3, 
.stats .box:hover i {
  color: black;
}
.stats .box h3 {
  font-size: 40px;
  font-weight: bold;
  color: rgb(51, 51, 51);
} 
.stats .box p {
  color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
} 
/* End stats */
 /* start testimonials  */
.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
.testimonials .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.testimonials .container .box {
  width: 550px;
  box-shadow: 0 0 10px #cdcdcd ;
  position: relative;
  border-radius: 10px;
  background-color: white;
  padding: 40px;
  display: flex;
  overflow: hidden;
}
.testimonials .container .box .back-ground {
  position: absolute;
  content: "";
  background-color: #0043fc;
  width: 200px;
  height: 300px;
  top: -120px;
  left: -100px;
  transform:rotate(44deg);
  z-index: 2;
}

.testimonials .box img {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  z-index: 3;
}
.testimonials .box h3 {
  margin-left: 20px;
}
.testimonials .box .title {
  margin-left: 20px;
  color: var(--p-color);
}
.testimonials  .box .icon {
  margin-left: 20px;
}
.testimonials  .box .icon i {
  color: gold;
}
.testimonials .box p {
  margin-left: 20px;
  color: var(--p-color);
}
 /* End testimonials  */
 /* start blog */
.blog {
  padding-top: var(--main-padding-top) ;
  padding-bottom: var(--main-padding-bottom);
  background-color: white;
  position: relative;
}
.blog .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px ,1fr));
  gap: 20px;
}
.blog .container .box {
  -webkit-box-shadow: 0 0 10px #cdcdcd;
  -moz-box-shadow: 0 0 10px #cdcdcd;
  box-shadow: 0 0 10px #cdcdcd;
  border-radius: 5px;
  transition: transform var(--main-transition), box-shadow var(--main-transition);
  overflow: hidden;
}
.blog .box:hover {
  box-shadow: 0 0 20px #cdcdcd;
  transform: translateY(-10px);
} 
.blog .box img {
  width: 100%;
  max-width:100% ;
  height: 230px;
}
.blog .box .content {
  border-bottom: 1px solid #777;
}
.blog .box .content > p {
  margin-left: 15px;
  line-height: var(--line-height);
  color: #777;
}
.blog .box .content h3 {
  margin: 0;
  font-size: 25px;
  margin-left: 15px;
  color: #1f1f1f;
  transition: var(--main-transition);
}
.blog .box .content h3:hover {
  color: var(--main-color);
}
.blog .box .content p {
  margin-left: 15px;
  line-height: var(--line-height);
  color: #777;
}
.blog .box .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 15px;
}
.blog .box .info a {
  color: var(--main-color);
  font-weight: bold;
}
.blog .box .info i {
  color: var(--main-color);
}
.blog .box:hover .info i {
  animation: move-right 0.6s linear infinite;
}
@keyframes move-right {
  100% {
    transform: translateX(10px);
  }
}
/* End blog */
/* start contact */

.contact {
 padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
.contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:0 auto 70px;
  width: 500px;
}
.contact form span {
  display: flex;
  column-gap: 20px;
}
.contact form span span {
  width: 50%;
}
.contact form span span input {
  width: 100%;
}
.contact form .input,
.contact form span span input {
  padding: 15px;
  background-color: white;
  border: none;
  margin-bottom: 30px;
  caret-color: var(--main-color);
}
.contact form .input{
  display: block;
  width: 100%;
}
.contact form input[type="text"] {
  border-bottom:1px solid #c5c5c5;
  
}
.contact form input[type="email"] {
  border-bottom:1px solid #c5c5c5;
}
.contact form input[type="text"] {
  border-bottom:1px solid #c5c5c5;
}
.contact form textarea {
  height: 200px;
}
.contact form input[type="submit"] {
  padding: 20px 40px ;
  color: white;
  font-weight: bold;
  font-size: 20px;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.contact form input[type="submit"]:hover {
  background-color: hsl(214, 98%, 40%);
}
.contact form textarea:focus,
.contact form input[type="text"]:focus,
.contact form input[type="email"]:focus {
  outline: none;
  border: #0043fc 1px solid;
}
.contact form textarea::placeholder,
.contact form input[type="text"]::placeholder,
.contact form input[type="email"]::placeholder {
  transition: opacity var(--main-transition);
}
.contact form textarea:focus::placeholder,
.contact form input[type="text"]:focus::placeholder,
.contact form input[type="email"]:focus::placeholder {
  opacity: 0;
}
/* End discount */

/* start footer */
.footer {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 120px;
}

.footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .icons i {
  font-size: 20px;
  color: var(--p-color);
  cursor: pointer;
  margin-right: 20px;
}
.footer .icons i:hover {
  color: var(--main-color);
}
.footer .end {
  font-size: 20px;
  font-weight: 600;
  color: var(--section-background);
}
.footer .end span {
  color: var(--main-color);
}
/* End footer *